@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


.row {
    background: #e8e8e8;
    margin-top: 20px;
    div {
        background: #f2f2f2;
        text-align: center;
        padding: 10px;
        border: 1px solid #4d5061;
    }
}