@font-face {
    font-family: Got;
    src: url("../fonts/got.ttf");

}

*{
    font-family: got;
} 

.lb-data .lb-caption {
    font-size: 0.5em;
  }

  .lb-data .lb-close {
    width: 15px;
    height: 15px;
    background-size: contain;
  } 