$width:350px;
$height: 350px; 

#contenedor{

    display: flex;
    flex-basis: auto;

    .boton{
        background-image: url("img/free-media-player-vector-icons.jpg");
        width:350px;
        height: 350px;
    }


    #play{
        background-position-x: 0px;
        background-position-y: 0px;
    }

    #pause{
        background-position-x: -3*($width);
        background-position-y: 0px;
    }

    #mute{
        background-position-x: -($width);
        background-position-y: -($width);

    }

    #down{
        background-position-x: 2*$width;
        background-position-y: -($width);
    }

    #up{
        background-position-x: $width;
        background-position-y: -($width);
    }


}